Temp/
Library/
Builds/
Logs/
UserSettings/
obj/
.vs/

*.csproj
*.tmp
*.user
*.userprefs
*.sln

#Lightning
*.lighting
*.lighting.meta
Lightmap-*
LightingData*
ReflectionProbe-*

#Occlusion
OcclusionCullingData*

#NavMesh